<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GiphyCon</title>
	<link rel="shortcut icon" type="image/png" href="/images/favicon.png">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/landing.css">
</head>
<body>
<div class="brand one">
   <div id="main">
       GiphyCon
      <div class="ring one"></div>
      <div class="ring two"></div>
      <div class="ring three"></div>
      <div class="ring four"></div>
   </div>
</div>
<div class="two section">
   <div id="search">
 	  <a href="/search">Search</a>
   </div>
</div>
<div class="section three">
   <div id="trending">
      <a href="/trending" >Trending</a>
      <div class="ring one"></div>
      <div class="ring two"></div>
      <div class="ring three"></div>
      <div class="ring four"></div>
   </div>
</div>
	
</body>
</html>