<%- include("./partials/header") %>

<div class="container">
	<h1 class="display-2">Gifs</h1>
	<div id="gifs" class="mb-3">
		

    </div>
  	<h1 class="display-2">Stickers</h1>
	<div id="stickers">
	
	</div>
	
	
	

</div>
<div class="loader-wrapper">
    <div class="lds-circle"><div></div></div>
</div>
<script>
	 const key = '<%-process.env.key%>';  // Remeber to use your own api_key
</script>
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="/javascripts/trending.js"></script>
<%- include("./partials/footer") %>
